NODE_ENV=development

COUCHDB_USER=admin
COUCHDB_PASSWORD=secret123
COUCHDB_URL=
COUCHDB_AUTH_DB=auth

REDIS_URL=redis://redis:6379

COOKIE_DOMAIN=.techaxon.localhost 
COOKIE_SECURE=false
COOKIE_HTTP_ONLY=true
COOKIE_SAME_SITE=lax

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_VERIFICATION_SECRET=
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d
JWT_VERIFICATION_TTL=1h

